/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: rgb(11, 11, 11);
    background-image: url('../assets/bg_new.jpg');

    background-size: cover; /* Makes sure the background image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
}


/* Header */
 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:#131415;
    padding: 20px;
    background-image: url('../assets/bg_new.jpg');


}
.logoandname {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:white;
    /* padding-left: 5%; */
    padding-top: 1%;
    text-decoration: none;
} 
.logoandname a{
    text-decoration: none;
    color: white;

 
}
.logoandname :hover{
    color:#ae4242;
}
.nav-item{
    /* padding-right: 10%;
    padding-top: 10px; */
}
.nav-item a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    /* padding-right: 20%;
    padding-top: 30px; */
}
.nav-item :hover{
    color:#ae4242;
}
.search-container {
    position: relative;
    width: 10%; 
    color:#555 /* Adjust as needed */;
    /* padding-left: 20%; */
    
  }
  
 
  
 
  
  

  .inputbox {
    position: relative;    
    padding: 10px 30px;
    width: 300px;
    border-radius: 15px;
    border-color: #4a525f;
    margin-top: 40%;
    background-image:url('../assets/search.webp');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left;
    /* background-origin: content-box; */
}


    
    .inputbox:focus{
        outline: none;
    }
.suggestions {
    position: absolute;
    background-color:  rgb(58, 61, 63);
    /* border: 1px solid #f3e7e7; */
    width: 20%;
    border-radius: 3px;
    height:200px;
    overflow-y: auto;
    z-index: 10;
    display: none;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    /* border-bottom: 1px solid #d6d0d0; */
  }
  
  .suggestion-item:hover {
    background-color:rgb(52, 55, 57);
  }
#icon{
    color: #7f7b7b;
    font-size:20px;
    margin-right: 100%;
  
}


    


.wishlist-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding-top: 100px;
   text-align: center;
   box-sizing: border-box;
   border-radius: 20px;
}
.wishlist-container img{
    width: 240px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
   cursor: pointer;
    transition: transform 0.3s ease-in-out;
} 
.wishlist-container img:hover{
    transform: scale(1.05);
}
.wishlist-container button{
    color:white;
    background-color: grey;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition:background-color 0.3s, transform 0.3s;

}
.wishlist-container button :hover{
    transform: scale(1.05);
    color: blue;
}
.text-center{
    color: white;
    font-size: 30px;
}