* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #0a0909;
}

.container {
    width: 100vw;
    background-color:black;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2F3C7E;
    color: white;
    padding: 20px;
    font-size: 30px;
}

.logoandname {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    color: #fff;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;
}

.navbar a {
    color: rgb(229, 229, 240);
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #3f48c4;
}

.nav-item {
    cursor: pointer;
}

.movie-details {
    display: block;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #06060b;
    
}

.movie-poster img {
    width: 700px;
    height: 620px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 50px;
    /* margin-right: 600px; */
}

.movie-info {
    text-align:center;
    padding:10px;
    
}

#play-button {
    margin-top: 35px;
    margin-left: 2%;
    padding: 10px 20px;
    
    font-size: 1.2em;
    color: white;
    background-color: #395886;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-button:hover {
    background-color: #2d303b;
}

#movie-title{
    color: #3f48c4;
   padding: 20px;
}


#video-link{
    display: none;
    width: 100%;
}